// fonts
$font-1: 'IBM Plex Sans', sans-serif;
$font-2: 'IBM Plex Mono', monospace;
// font colors
$font-color-1: #060A24;
$font-color-2: #FFFFFF;
$font-color-act: rgba(6,10,36,0.56);
// button colors
$button-color-1: #00F3BB;
$button-color-2: #0000FE;
$button-color-3: #00F0B8;
// skew colors
$skew-color-1: #0000FF;
$skew-color-2: #0000A3;
// menu color 
$menu-color: #0000EC;


